.meals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 4rem;
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 75rem;
  margin: 3rem auto;
  justify-items: center;
}

@media only screen and (max-width: 767px) {
  .meals {
    grid-gap: 5vw;
  }
  .meals li {
    max-width: 24rem;
  }
}
